.slider_item{
    padding-top: 75px;
}

.image{
    height: 50vh;
    width: 100%;
    border-radius: 2px;
    transition: 0.7s ease-in-out;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}