.review_order_container {
  margin-top: 75px;
  min-height: 90vh;
  display: flex;
  width: 100%;
  padding: 0 70px;
}
.data_container {
  color: #282c3f;
  padding: 20px 20px 40px 20px;
  flex: 1.7;
}
.review_header {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}
.info_container {
  padding: 20px 20px 50px 50px;
  display: flex;
  flex-direction: column;
}
.address_container {
    padding: 20px 50px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}
.deliver{
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 25px;
}
.title{
  font-size: 18px;
  margin: 5px 0;
  font-weight: 500;
}
.address{
  font-size: 14px;
  margin-bottom: 2px;
}
.town{
  font-size: 14px;
  margin-bottom: 2px;
}
.locality{
  font-size: 14px;
  margin-bottom: 3px;
}
.phone{
  font-size: 14px;
  margin-bottom: 3px;
}
.product_container {
  margin-top: 20px;
  padding: 20px 30px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  width: 100%;
  letter-spacing: 1px;
}
.cart_items_header{
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 25px;
}
.product_item{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.bottom{
  display: flex;
  flex: 2;
}
.image_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: relative;
  }
  .image {
    width: 100%;
    height: 100%;
  }
  .text_container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    margin: 0 15px;
    letter-spacing: 1px;
  }
  .title_container{
    display: flex;
    flex-direction: column;
    flex: 1.5;
    margin-left: 20px;
    justify-content: center;
  }
  .product_name{
    font-size: 14px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 600;
  }
  .category{
    font-size: 12px;
    margin-top: 4px;
    color: #5a5959;
    white-space: nowrap;
    text-transform: uppercase;
  }
  .product_quantity{
    font-size: 14px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    flex: 1;
    font-weight: 600;
  }
  .price_column{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .actual_price{
    text-decoration: line-through;
    font-weight: 500;
    margin-top: 4px;
    color: #5a5959;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .price{
    font-weight: 600;
    color: #ff0e0e;
  }
  .right_wrapper {
    flex: 1;
    letter-spacing: 1px;
    padding: 50px 18px 20px 18px;
    background: #fff;
  }
  .right_text_container {
      display: flex;
      flex-direction: column;
    }
    .summary {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 18px;
    }
    .summary_text {
      color: #282c3f;
      margin-bottom: 8px;
      display: flex;
      font-size: 14px;
      justify-content: space-between;
    }
    .summary_text_data {
      display: flex;
    }
    .discount_data{
      color: #00f815;
      font-weight: 600;
    }
    .free{
      color: #ff0e0e;
      font-weight: 600;
    }
    .sub_total {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
    }
    .total_price {
      color: #3e4152;
      font-size: 16px;
      font-weight: 600;
    }
    .place_order {
      outline: none;
      border: none;
      padding: 16px 20px;
      width: 100%;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      background: red;
      color: #fff;
      margin-top: 25px;
    }
    .place_order:hover {
      outline: none;
      cursor: pointer;
      color: red;
      background: transparent;
      border: 1px solid red;
    }
  
  @media(max-width:425px){
   .review_order_container{
     flex-direction: column;
   }
   .info_container{
      padding: 30px 0px;  
   }
   .address_container{
      padding: 20px 15px;
   } 
   .product_container{
    padding: 20px 15px;
   }
   .data_container{
     padding: 10px;
   }
   .product_item{
     display: flex;
     flex-direction: column;
     border-bottom: 1px solid grey;
   }
   .text_container{
     display: flex;
     flex-direction: column;
     margin-top: 15px;
   }
   .title_container{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 10px;
   }
   .bottom{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-bottom: 15px;
   }
   .right_wrapper_container{
     padding: 5px;
   }
  }