.main_container{
    /* border: 2px dotted blue;  */
    margin-top: 40px;
    height: 50vh;
    background-color: rgb(255, 255, 255);
}
.inner_container{
    padding: 10px 30px;
    height: 100%;
}
.header{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
}