.input_box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input{
    border: none;
    background-color: transparent;
    padding: 7px;
}
.label{
}
.input:focus{
    transition: ease-in-out;
}