.inputBox{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input{
    border-radius: 5px;
    background-color: transparent;
    padding: 7px;
}
.label{

}
.input:focus{
    background-color: #6F909F;
    transition: ease-in-out, width .35s ease-in-out;
}