.sidenav{
    width: 100%;
}
.menu{
    padding: 10px;
}
.menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 0;
    padding: 10px;
}
.menu ul li{
    color: #282c3f;
    font-weight: bold;
    font-size: .875rem;
    text-transform: uppercase;
    padding: 10px 25px;
}
.login{
    margin-top: 10px;
    width: 70%;
    border: 1.5px solid rgb(172, 171, 171);
    background: #fff;
    text-align: left;
}
.login a{
    color: #ff0000;
}
.login:active{
    background: linear-gradient(120deg, #dd5100, #ce0202);
}