.cart_item_contaner {
  display: flex;
}
.data_container {
  display: flex;
  padding: 10px 20px;
}
.image_container {
  width: 150px;
  height: 100px;
  position: relative;
}
.image_container:hover {
  cursor: pointer;
}
.image {
  width: 100%;
  height: 100%;
}
.info_container {
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.text_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  text-transform: uppercase;
  font-size: 14px;
  color: #1f1f1f;
}
.qty_container {
  display: flex;
  justify-content: space-between;
}
.plus,
.minus {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #eeeeee; */
  color: #030303;
  font-size: 0.9rem;
  font-weight: 900;
}
.qty_counter {
  font-size: 14px;
  min-width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #adadad;
  padding: 0 2px;
  margin: 0 15px;
}
.bottom_row {
  display: flex;
  justify-content: space-between;
}
.remove {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #808080;
  font-weight: 600;
}
.remove:hover {
  cursor: pointer;
  color: #4b4b4b;
}
.savings {
  background: #f3fffd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00785f;
}
.savings_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 800;
}
.savings_data {
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  padding: 5px;
}
.hr_line {
  margin: 0;
}
.total {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
}
.price {
  margin-right: 20px;
}
.total_amount {
  font-size: 16px;
}
.plus,
.minus:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.remove:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .data_container {
    display: flex;
    padding: 10px 5px;
  }
  .image_container {
    width: 120px;
    height: 100px;
  }
  .qty_counter {
    border: 1px solid #adadad;
    padding: 5px 8px;
    margin: 0 3px;
    font-size: 12px;
  }
  .info_container {
    padding: 0 0 0 10px;
  }
  .price {
    font-size: 12px;
    margin-right: 5px;
  }
  .total_amount {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .data_container {
    display: flex;
    padding: 10px 2px;
  }
  .info_container{
    padding: 0 0 0 7px;
  }
  .price {
    margin-right: 5px;
  }
  .plus,
  .minus {
    height: 25px;
    width: 25px;
    font-size: 16px;
  }
  .qty_counter {
    font-size: 12px;
  }
}