.container{
    min-height: 100vh;
}
.card_container{
    margin-top: 20px;
    min-height: 30vh;
    padding: 10px 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
    margin: 15px;
    border-radius: 7px;
}
@media (min-width:768px){
    .container{
        color: blue;
    }
    .card_container{
        min-height: 50vh;
    }
}