.logo_image{
    padding: 5px 5px;
    border-radius: 50%;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.logo p{
    margin:25px
}
.menu_items ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu_items ul li{
    align-items: center;
    margin: 9px 25px;
}