.container{
    position: relative;
    margin-top: 75px;
    min-height: 100vh;
    background: rgb(255, 255, 249);
    padding: 50px 150px;
}
.details_container{
    background-color: #fff;
    min-height: 90vh;
}