.main_container{
    border-radius: 2px;
    background-color: honeydew;
    min-height: 90vh;
    display: flex;
    margin-left: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}
.view_product{
    font-size: 1.3rem;
    background-color: rgb(0, 156, 65);
    color: #fff;
    text-transform: uppercase;
    width: 95%;
    text-align: center;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.content{
    padding: 10px;
    display: flex;
}
.table{
    width: 100%;
    border-spacing: 60px 20px;
    text-align: left;
}
.trtitle{
    text-decoration: underline;
}
.tr_data_title{
    text-decoration: none;
}
.image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.button{
    border: none;
    color: #fff;
    padding: 9px;
    cursor: pointer;
    border-radius: 2px;
}
.button:first-child{
    background-color: #008080;
    margin-right: 10px;
}
.button:last-child{
    background-color: #ff0000;
}
/* .product_container{
    border: 2px solid #ab07ec;
}
.product_data{
    padding: 5px 0;
}
.product_key{
    font-size: 1.1rem;
    font-weight: bold;
}
.text_container{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.delete{
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #000;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: medium;
    color: rgb(228, 228, 236);
    background-color: rgb(177, 13, 13);
}
.delete:hover{
    color: #000;
    background-color: #fff ;
} */