.container{
    height: calc(100vh-75px);
    width: 100%;
    /* background-color: red;
    border: 2px dotted red; */
}
.image_container{
    position: relative;
    width: 100%;
    min-height: 90vh;
    
}
.text_container{
    position: absolute;
    top:50%;
    left: 50%;
    color: #522a09;
    letter-spacing: 3px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
}
.read_button{
    border: none;
    border-radius: 5px;
    background-color: #7a3820;
    padding: 9px;
    margin: 5px;
    border: 2px solid #220c05;
    font-weight: bold;
    font-size: medium;
    letter-spacing: 2px;
    color: #ffffff;
}
.read_button:hover{
    cursor: pointer;
    background-color: #f3ece9;
    border: 2px solid #441f12;
    color: #7a3820;
    transition: 0.4s ease;
}
.text_container span{
    color: #be0a1c ;
    font-size: larger;
}
