.container{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.image_container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    position: relative;
}
.text_container{
    border: 3px solid red;
    position: absolute;
    top:50%;
    left: 50%;
    color: #522a09;
    letter-spacing: 3px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
}
.read_button{
    border: none;
    border-radius: 5px;
    background-color: #7a3820;
    padding: 9px;
    margin: 5px;
    font-weight: bold;
    font-size: medium;
    letter-spacing: 2px;
    color: #ffffff;
}
.read_button:hover{
    cursor: pointer;
    background-color: #f3ece9;
    border: 2px solid #441f12;
}
.text_container span{
    color: #be0a1c ;
    font-size: larger;
}
