.main_container {
  min-height: 100vh;
  width: 100%;
  margin-top: 75px;
  margin-bottom: 75px;
}
.wrapper_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.description_header {
  display: flex;
  flex-direction: column;
}
.image_container {
  position: relative;
  width: 100%;
  height: 50vh;
}
.image {
  width: 100%;
  height: 100%;
}
.info_container {
  flex: 1;
  /* padding: 0px 10px; */
}
.product_title_header {
  display: flex;
  color: #161616;
  align-items: center;
  padding: 20px 10px 10px 10px;
}
.product_title {
  font-weight: 400;
  font-size: 22px;
  margin: 0;
}
.description_header {
  color: #161616;
  padding: 10px;
}
.product_about_header {
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 5px;
}
.product_description {
  font-weight: 300;
  text-align: justify;
}
.price {
  color: #161616;
  align-items: center;
  display: flex;
  margin: 10px;
  font-weight: 200;
  font-size: 16px;
  justify-content: space-between;
}
.discount_price {
  font-weight: 300;
  color: #777777;
  text-decoration: line-through;
}
.product_price {
  color: #111111;
  font-weight: 400;
}
.discount {
  color: #009b2e;
  font-weight: 300;
  font-size: 14px;
}
.qty_container {
  display: flex;
  flex: 1;
}
.plus {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
  color: #000000;
  font-size: 0.9rem;
  font-weight: bold;
  border: 0.5px solid #131313;
  margin-right: 20px;
}
.minus {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
  color: #000000;
  font-size: 0.9rem;
  font-weight: bold;
  border: 0.5px solid #131313;
  margin-left: 20px;
}
.plus,
.minus:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}
.cart {
  border: 1.5px solid #b9b9b9;
  padding: 15px 35px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  background: transparent;
  color: #ff0000;
  margin-top: 10px;
  text-align: center;
}
.bag_button {
  border: 1.5px solid #b9b9b9;
  padding: 15px 35px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  background: transparent;
  color: #ff0000;
  text-align: center;
}
.buy {
  border: none;
  padding: 15px 45px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  background: #ff0000;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
.cart:hover {
  cursor: pointer;
  border: 1.5px solid #525252;
}
.buy:hover {
  cursor: pointer;
  background: #e40000;
}
@media (min-width: 768px) {
  .main_container {
    border: 1px solid blue;
  }
  .wrapper_container {
    flex-direction: row;
    padding: 30px 30px;
  }
  .description_header {
  }
  .image_container {
    position: relative;
    width: 100%;
    height: 80vh;
    flex: 1.5;
  }
  .image {
    width: 100%;
    height: 100%;
  }
  .info_container {
    flex: 1;
    padding: 0px 50px;
  }
  .product_title {
    font-size: 30px;
    white-space: nowrap;
    font-weight: 300;
    margin: 0;
  }
  .description_header {
    margin: 10px 0px;
  }
  .product_about_header {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .product_description {
    font-weight: 300;
  }
  .price {
    white-space: nowrap;
    align-items: center;
    display: flex;
    margin: 20px 0px;
    font-weight: 200;
    font-size: 25px;
    justify-content: space-between;
  }
  .discount_price {
    font-weight: 300;
    color: #777777;
  }
  .product_price {
    color: red;
    font-weight: 400;
  }
  .discount {
    font-weight: 300;
    font-size: 20px;
  }
  .button {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .cart {
    padding: 20px 45px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  .bag_button {
    padding: 20px 45px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  .buy {
    border: none;
    padding: 20px 45px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  .cart:hover {
    cursor: pointer;
    border: 1.5px solid #525252;
  }
  .buy:hover {
    cursor: pointer;
    background: #e40000;
  }
}
