.main_container{
    border: 3px solid red;
    
    width: 100%;
}
.image_container{
    
    border: 2px solid green;
}

.image {
    height: 400px;
    width: 400px ;
}
.text_container{
    flex-basis: 40%;
}