.navbar{
    display: flex;
    justify-content: space-between;
    background-color:#e20909;
    color: #ffffff;
    position: sticky;
    width: 100%;  
    align-items: center; 
    z-index: 1000;
    top: 0;
    left: 0;
    height: 75px;
    padding: 0px 50px;
    box-sizing: border-box;
}
.logo{
    display: flex;
    align-items: center;
}
.logo a{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.brand{
    font-weight: bolder;
    padding-left: 25px;
    font-size: 1.6rem;
    letter-spacing: 3px;
}
.image{
    width: 60px;
    height: 60px;
    background-image: url("/images/logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}
.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.menu ul li{
    margin: 9px 25px;
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.hamburger{
    display: none;
}
.logo:hover{
    cursor: pointer;
}
.menu ul li:hover{
    cursor: pointer;
    color: rgb(202, 199, 192);
}
.menu ul li:active{
    color: rgb(214, 240, 66);
}


@media (max-width: 768px){
    .menu ul li {
        display: none;
    }
    .hamburger{
        height: 22px;
        width: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .hamburger_line{
        border: 2px solid rgb(56, 49, 49);
    }
    .side_drawer{
        width: 60%;
        background-color: #e20909;
        height: 100vh;
        position: fixed;
        animation: sideNavSlideIn 0.8s;
        margin-top: 333px;
        left: 0;
    }
    .backdrop{
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 10;
        top: 75px;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.2);
    } 
        @keyframes sideNavSlideIn {
        0% {
          transform: translateX(-100%);
        }
      
        100% {
          transform: translateX(0%);
        }
      }

      @keyframes sideNavSlideOut {
        100% {
            transform: translateX(100%);
          }

        0% {
          transform: translateX(0%);
        }
      }
}