.navbar{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    color: #ffffff;
    position: fixed;
    z-index: 100;
    width: 100vw;  
    align-items: center; 
    top: 0;
    left: 0;
    height: 75px;
}
.logo a{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.logo p{
    margin:5px;
    color: #1b1714;
    font-weight:bolder;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.image{
    padding: 5px 5px;
    border-radius: 50%;
}
.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.menu ul li{
    margin: 9px 25px;
    align-items: center;
    color: #000000;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.menu ul .login{
    background-color: rgb(238, 154, 43);
    border-radius: 3px;
}
.login{
    padding: 5px;
}
.logo:hover{
    cursor: pointer;
}
.menu ul li Link :hover{
    cursor: pointer;
}
