.navbar{
    display: flex;
    justify-content: space-between;
    background-color:#e20909;
    color: #ffffff;
    position: sticky;
    z-index: 100;
    width: 100%;  
    align-items: center; 
    top: 0;
    left: 0;
    height: 75px;
    padding: 0px 50px;
}
.logo a{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.brand{
    font-weight: bolder;
    padding-left: 25px;
    font-size: 1.6rem;
    letter-spacing: 3px;
}
.image{
    padding: 5px 5px;
    border-radius: 50%;
}
.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.menu ul li{
    margin: 9px 25px;
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.menu ul .login{
    background-color: rgb(238, 154, 43);
    border-radius: 3px;
}
.login{
    padding: 5px;
}
.logo:hover{
    cursor: pointer;
}
.menu ul li Link :hover{
    cursor: pointer;
}
