.main_container{
    min-height: 80vh;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 20px;
}
.card{
    background-color: #ffffff;
    width: 100%;
    box-shadow: 1px 1px 5px 2px rgba(134, 134, 134, 0.8);
    position: relative;
}
.login_header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: bold;
    background-image: linear-gradient(90deg, #64015f, #ff3c01);
    background-clip: text;
    color: transparent;
}
.input_box{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 5px;
}
.form{
    padding: 2rem 2rem;
}
.form label{
    margin-bottom:4px;
    letter-spacing: 2px;
}
.form input{
    margin-bottom: 15px;
    border: 0.5px solid black;
}
.form input:focus{
    border: 0.5px solid rgb(0, 255, 34);
}
.login_button{
    padding: 10px;
    background: linear-gradient(120deg, #ff0000, #ff5100);
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 1px;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
}
.login_button:hover{
    background: #f10c0c;
}
.other_details{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 0;
    margin-top: 30px;
    letter-spacing: 1px;
    font-size: 1.1rem;
}
.enquire{
    font-style: italic;
}
.login{
    cursor: pointer;
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-decoration: underline;
}
.password{
    font-size: 0.9rem;
    font-style: italic;
    float: right;
    margin-bottom: 10px;
    color: rgb(63, 62, 62);
}
.empty{
    font-size: 0.9rem;
    color: #bb0000;
    justify-content: center;
    background: #fd6e6e;
    padding: 4px;
    display: flex;
    justify-content: center;
}
@media (min-width:768px){
    .main_container{
        min-width: 90vh;
    }
    .card{
        width: 40%;
    }
    .other_details{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}