.card_container{
    min-height: 90vh;
    border: 2px solid green;
    margin-top: 75px;
}
.product_container{
    width: 100vw;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 0 2em;
    margin-bottom: 50px;
}                                                      