.product_container{
    width: 100vw;
    padding-top: 75px;
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(5,  1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    padding: 0 2em;
    border: 3px solid rgb(17, 6, 6);
}                                                      